<div class="grafica-card">

    <h2>Ventas últimos 6 meses</h2>

    <div class="chart-area">

        <div class="labels">

            <span>100K</span>
            <span>80K</span>
            <span>60K</span>
            <span>40K</span>
            <span>20K</span>

        </div>

        <div class="chart">

            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>

            <div class="bars">

                <div class="bar-container">
                    <div class="bar" style="height:70%;"></div>
                    <span>Nov</span>
                </div>

                <div class="bar-container">
                    <div class="bar" style="height:30%;"></div>
                    <span>Dic</span>
                </div>

                <div class="bar-container">
                    <div class="bar" style="height:30%;"></div>
                    <span>Ene</span>
                </div>

                <div class="bar-container">
                    <div class="bar" style="height:90%;"></div>
                    <span>Feb</span>
                </div>

                <div class="bar-container">
                    <div class="bar" style="height:100%;"></div>
                    <span>Mar</span>
                </div>

                <div class="bar-container">
                    <div class="bar" style="height:100%;"></div>
                    <span>Abr</span>
                </div>

            </div>

        </div>

    </div>

</div>