<div class="reservas-card">

    <div class="header">

        <h2>Reservas recientes</h2>

        <a>Ver todas ></a>

    </div>

    <div class="reservation">

        <img src="images/profile.png" />

        <h3>Juan Perez</h3>

        <span>Velero</span>

    </div>

    <div class="reservation">

        <img src="images/profile.png" />

        <h3>Maria Victoria</h3>

        <span>Velero</span>

    </div>

    <div class="reservation">

        <img src="images/profile.png" />

        <h3>Valentin Sanchez</h3>

        <span>Velero</span>

    </div>
    <div class="reservation">

        <img src="images/profile.png" />

        <h3>Rosa Perez</h3>

        <span>Velero</span>

    </div>

</div>
