.topbar {
    background: #21106d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.izquierda-topbar {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.derecha-topbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boton-menu {
    display: none;
}

.icono-notificacion {
    width: 24px;
}

.perfil-admin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imagen-perfil {
    width: 42px;
    border-radius: 50%;
}

.perfil-admin h5 {
    margin: 0;
    font-size: 14px;
}

@media(max-width:768px) {

    .boton-menu {
        display: block;
    }

    .topbar {
        border-radius: 0;
        padding: 16px;
        position: relative;
    }

    .izquierda-topbar {
        flex: none;
    }

        .izquierda-topbar h2 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            font-size: 20px;
        }

    .perfil-admin {
        display: none;
    }
}